.image-container {
  height: 250px;
  width: 100%;
}

.button-group{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.card-img{
  height: 255px;
}

.card-body-custom{
  display: flex;
  justify-content: center;
  height: 70px;
  padding-top: 5px;
}

.custom-feet{
  display: flex;
  justify-content: center;
  padding: 10px;

}
