.app-login-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-flow: row;
}

.app-login-col-container-l1 {
  width: 40vw;
  min-width: 300px;
  height: 100%;
  min-height: 340px;
  /*TODO min-width && nin-height*/

  display: flex;
  flex-flow: column;

  /*align-content: center;*/
}

.app-login-l1-item-logo-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding-top: 10%;

}



.app-login-icon{
  width: 100px;
  height: 100px;
}

.app-login-l1-item-form-container {
  width: 80%;
  height: 55%;
  padding-left: 10%;
  padding-right: 10%;
}

.app-login-form {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.app-login-form-button {
  width: 100%;
  height: 20%;

  color: #16A085;
  font-size: 18px;
  font-weight: 700;
}

.app-login-form-field {
  width: 100%;
  max-height: 60px;
}

.app-login-form-button-text {
  margin-left: -10px;
}
