  <br>
  <div class="panel-heading">
    <h3 class="animated fadeIn fast">Profile</h3>
    <hr>
  </div>
  <br>

    <form [formGroup]="editProfile" >
      <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" formControlName="name" name="name">
        </div>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" class="form-control" disable formControlName="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" formControlName="password" name="password">
        </div>
      </div>

      <div class="col-md-2">
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="address">Direccion</label>
          <input type="text" class="form-control" formControlName="address" name="address">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" name="email">
        </div>
        <div class="button">
          <button type="submit" *ngIf="edit" (click)="edit=false;isEditing()" class="btn btn-outline-primary">Editar</button>
          <button type="submit" *ngIf="!edit" (click)="update()" class="btn btn-outline-primary">Actualizar</button>
        </div>
      </div>
    </div>
    </form>
