<div class="app-login-container">
<div class="login-form-container">


  <form [formGroup]="loginForm" class="app-login-form" >
    <div class="form-group" >
      <label>Username</label>
      <input type="text" class="form-control"  placeholder="Username" formControlName="username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control"  placeholder="Password" formControlName="password">
    </div>

    <button type="submit" class="btn btn-primary" (click)="authenticate()" [disabled]="loginForm.invalid">Submit</button>
  </form>
</div>
</div>
