<h1>Details</h1>
<hr>

<div class="row">
    <hr>
    <div class="col-md-4 ">
      <img [src]="movie.imagePath" class=" img-fluid " alt="">
      <br><br>
    </div>
    <div class="col-md-8">
      <h4>{{movie.name}}</h4>
      <hr>
      <h5>{{movie.description}}</h5>
      </div>

  </div>
  <br><br>
  <div class="row">

    <div class="col-md-4" *ngIf="notOwned">
      <a href="" class="btn btn-outline-danger btn-block" (click)="comprar()">Añadir a mi Lista</a>
    </div>

    <div class="col-md-4">
      <a href="content" class="btn btn-outline-dark btn-block">Ir atrás</a>
    </div>


  </div>
  <hr>
  <div class="row player-container">
    <vg-player class=" player">
       <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
           <source [src]="movie.path" type="video/mp4">
       </video>
    </vg-player>
   </div>
