<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/A-65.png" width="30" height="30" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['home']">Home</a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] = "['about']">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" [routerLink] = "['content']">Content</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" [routerLink] = "['mylist']">My List</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" [routerLink] = "['profile']">Profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin && auth.isAuthenticated()">
        <a class="nav-link" [routerLink] = "['admin']">Admin</a>
      </li>

    </ul>

    <!-- <div class="">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" (keyup.enter)="buscarContenido(buscarTexto.value)" #buscarTexto>
        <button (click)="buscarContenido(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
      </form>
    </div> -->

    <div class="">
      <button
          class="btn btn-outline-primary my-2 mx-sm-2"
          *ngIf="!auth.isAuthenticated()"
          [routerLink] = "['login']">
            Log In
        </button>

        <button
          class="btn btn-outline-primary my-2 mx-sm-2"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout();isAdmin=false">
            Log Out
        </button>
    </div>

  </div>
</nav>
